* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {

    width: 150px;
    margin: 50px auto;

}

/* Media query */
@media (min-width: 1920px) {

    section#menu {

        position: relative;
        left: 165px;
        float: left;
        height: 207px;
        width: 25%;
        margin: 0 30px;
        background-color: rgb(151, 151, 151);
        border: 1px solid black;
        padding: 0 5px 5px 5px;
        overflow: hidden;
    
    }

    section#menudown {

        position: relative;
        left: 165px;
        float: left;
        height: 207px;
        width: 25%;
        margin: 0 30px;
        background-color: rgb(151, 151, 151);
        border: 1px solid black;
        padding: 0 5px 5px 5px;
        overflow: hidden;
    
    }
    
    section#menu > div {
    
        height: 20px;
    
    }

    section#menudown > div {
    
        height: 20px;
    
    } 
    
    div#region > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: fuchsia;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }
    
    div#region1 > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: yellow;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }
    
    div#region2 > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: red;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }

}

@media (min-width: 992px) and (max-width: 1919px) {

    section#menu {

        position: relative;
        left: 70px;
        float: left;
        height: 207px;
        width: 25%;
        margin: 0 30px;
        background-color: rgb(151, 151, 151);
        border: 1px solid black;
        padding: 0 5px 5px 5px;
        overflow: hidden;
    
    }

    section#menudown {

        position: relative;
        left: 70px;
        float: left;
        height: 207px;
        width: 25%;
        margin: 0 30px;
        background-color: rgb(151, 151, 151);
        border: 1px solid black;
        padding: 0 5px 5px 5px;
        overflow: hidden;
    
    }
    
    section#menu > div {
    
        height: 20px;
    
    }

    section#menudown > div {
    
        height: 20px;
    
    } 
    
    div#region > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: fuchsia;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }
    
    div#region1 > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: yellow;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }
    
    div#region2 > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: red;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    section#menu {

        position: relative;
        left: 30px;
        float: left;
        width: 45%;
        margin: 10px;
        background-color: rgb(151, 151, 151);
        border: 1px solid black;
        padding: 0 5px 5px 5px;
        box-sizing: border-box;
        overflow: hidden;
    
    }

    section#menudown {

        position: relative;
        left: 30px;
        float: left;
        width: 92%;
        margin: 10px;
        background-color: rgb(151, 151, 151);
        border: 1px solid black;
        padding: 0 5px 5px 5px;
        box-sizing: border-box;
        overflow: hidden;

    }
    
    section#menu > div {
    
        height: 20px;
    
    }
    
    section#menudown > div {
    
        height: 20px;
    
    }
    
    div#region > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: fuchsia;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }
    
    div#region1 > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: yellow;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }
    
    div#region2 > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: red;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }

}

@media (max-width: 767px) {

    section#menu {

        position: relative;
        left: 13px;
        float: left;
        width: 93%;
        margin: 10px 0;
        background-color: rgb(151, 151, 151);
        border: 1px solid black;
        padding: 0 5px 5px 5px;
        box-sizing: border-box;
        overflow: hidden;
    
    }

    section#menudown {

        position: relative;
        left: 13px;
        float: left;
        width: 93%;
        margin: 10px 0;
        background-color: rgb(151, 151, 151);
        border: 1px solid black;
        padding: 0 5px 5px 5px;
        box-sizing: border-box;
        overflow: hidden;
    
    }
    
    section#menu > div {
    
        height: 20px;
    
    }
    
    section#menudown > div {
    
        height: 20px;
    
    }
    
    div#region > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: fuchsia;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }
    
    div#region1 > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: yellow;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }
    
    div#region2 > p {
    
        position: relative;
        left: 6px;
        bottom: 1px;
        border: 1px solid black;
        width: 80px;
        float: right;
        background-color: red;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    
    }

}
